<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLntr13kgmjr2rYUDa3bW5kG8JibTR4prfgw&usqp=CAU" alt=""
    rcset="" height="200px" width="100%">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ipsa possimus delectus id iste, adipisci atque enim?
      Dignissimos voluptas cupiditate nisi, nobis illum molestias, adipisci ut repellat omnis unde veniam!</a></p>
  </div>
</div>
