<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles-main">
    <app-big-card
    [Id] = "articles[0].id"
    [photoCover] = "articles[0].photo"
    [cardTitle] = "articles[0].title"
    [cardDescription] = "articles[0].description"
    ></app-big-card>
  </div>

  <div class="articles-others">
    <app-small-card *ngFor="let article of smallData"
    [Id] = "article.id"
    [photoCover] = "article.photo"
    [cardTitle] = "article.title"
    ></app-small-card>
  </div>
</div>
