<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles-main">
    <app-big-card photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:
    ANd9GcSLntr13kgmjr2rYUDa3bW5kG8JibTR4prfgw&usqp=CAU"
    cardTitle="BLABLABLABLA"
    cardDescription="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ipsa possimus delectus id iste, adipisci atque enim?"
    ></app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQG8wkQBu0CsOU1X-s68Xu710kg03Cp69sVKA&usqp=CAU"
    cardTitle="Cavalo Árabe"
    ></app-small-card>
    <app-small-card photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS60kFhFhYp0T5gPNLPrsFkFR27qQlFDMZO7g&usqp=CAU"
    cardTitle="Cavalo Mustangue"
    ></app-small-card>
    <app-small-card photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4_w2o-GNHki3-68pqdCxAvRwRIOMIx8mfHw&usqp=CAU"
    cardTitle="Cavalo Appaloosa"
    ></app-small-card>

  </div>
</div>
